/*-------------- OLD --------------*/


.selectBox{
	margin: 10px auto 0 auto;
	padding: 5px;
	overflow: auto;
}

.selectBox select{
	min-width: 200px;
	height: 30px;
	margin: 5px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-align-last: center;
	background-color: grey;
	border-radius: 4px;
}


/*---T'AS QUOI DANS LE VENTRE---*/

.displayCarac-container{
	width: 70px;
	height: 46px;
}

#totalCarac{
	display: inline-block;
	margin: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: inset 0 0 5px 0.5px black;
	background-color: lightgrey;
	color: blue;
}


table{
	display: inline-block;
}

table label{
	display: block;
	text-align: right;
	font-weight: bold;
	font-style: italic;
}

#submitAll{
	width: 40%;
	min-width: 200px;
	margin: 20px auto;
	padding: 10px;
	font-size: 1.2em;
	color: black;
	background-color: grey;
	border: 3px solid black;
	border-radius: 5px;
}

#descriptionLore{
	width: 60%;
	border: 2px solid black;
	border-radius: 3px;
	margin: 20px auto;
	padding: 20px;
	background-color: #4e5556;
}

#lore{
	width: 80%;
	margin: 20px auto 5px auto;
	height: 100px;
}

@media (max-width: 760px){

	.ventreBox{
		width: 100%;
	}
	.titre{
		width: 100%;
		margin-left: 0;
		padding-left: 0
	}
	#descriptionLore{
		width: 80%;
	}
}